.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.square {
    width: 400px;
    height: 400px;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}